<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
  </head>
  <body>
    <h1>Welcome to Shortner</h1>
    <label>Enter your Original url</label>
    <% if (locals.id) { %>
     <p>URL generated : http://localhost:5001/url/<%= id %></p>
    <% } %>
    <div>
        <form method="post" action="/url">
            <input type="text" name="url" placeholder="https://example.com">
            <button type="submit">Generate</button>
        </form>
    </div>
  </body>
</html>
